<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <title>进入云段</title>
</head>

<body>
    <div class="background" id＝ "formbackground">
        <img src="/static/images/loginbg_u0.png" height="100%" width="100%">
    </div>

    <div id="myTabContent" class="tab-content">
        <ul id="myTab" class="nav nav-pills">
            <li class="active">
                <a href="#login" data-toggle="tab">登录</a>
            </li>
            <li>
                <a href="#register" data-toggle="tab">注册</a>
            </li>
        </ul>

        <div class="container tab-pane fade in active" id="login">
            <form name="LoginForm" class="form-signin">
                <label for="inputUserName" class="sr-only">用户名</label>
                <input name="username" type="text" id="inputUserName" class="form-control" placeholder="用户名" required autofocus>
                <label for="inputPassword" class="sr-only">密码</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="密码" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                </div>
                <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="button">登录</button>
                <div class="alert alert-success" id="div_loginResult-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong id="loginResult-success"></strong>
                </div>
                <div class="alert alert-danger" id="div_loginResult-error">
                <a href="#" class="close" data-dismiss="alert" id="close_error">&times;</a>
                <strong id="loginResult-error"></strong>
                </div>
            </form>
        </div>


        <div class="container tab-pane fade" id="register">
            <form name="RegisterForm" class="form-signin" >
                <label for="inputUserName" class="sr-only">用户名</label>
                <input name="username" type="text" id="inputUserName2" class="form-control" placeholder="用户名" required autofocus>
                <label for="inputEmail" class="sr-only">邮箱</label>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="email" required>
                <label for="inputPassword2" class="sr-only">密码</label>
                <input name="password" type="password" id="inputPassword2" class="form-control" placeholder="密码" required>
                <label for="inputRePassword" class="sr-only">重复密码</label>
                <input name="rePassword" type="password" id="inputRePassword" class="form-control" placeholder="重复密码" required>
                <button id="registerBtn"class="btn btn-lg btn-primary btn-block" type="button">注册</button>
                <div class="alert alert-success" id="div_registerResult-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong id="registerResult-success"></strong>
                </div>
                <div class="alert alert-danger" id="div_registerResult-error">
                <a href="#" class="close" data-dismiss="alert" id="close_error">&times;</a>
                <strong id="registerResult-error"></strong>
                </div>
            </form>
        </div>


    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/signin.js"></script>
    
</body>

</html>
